<!-- CONTAINER DE LA PAGE -->
<div class="container-bloc-land">
  <swiper [slidesPerView]="1" [spaceBetween]="10" [navigation]="true"  [scrollbar]="{ draggable: true }">
      <ng-template swiperSlide>
        <div class="row rw-bloc-land">

          <!-- BLOC DE CODE DE GAUCHE CONTENANT L'IMAGE  -->
          <div class="col-lg-7 col-md-12 rw-bloc-land_left">
            <img src="../../assets/backgrounds/Concept.png" width="100%" alt="illustration">
          </div>

          <!-- BLOC DE CODE DE DROITE CONTENANT LES TEXTES  -->
          <div class="col-lg-5 col-md-12 rw-bloc-land_right">
              <h6>
                PLATEFORME INTELLIGENTE
              </h6>
              <p class="p2">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
              </p>
          </div>

        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="row rw-bloc-land">

          <!-- BLOC DE CODE DE GAUCHE CONTENANT L'IMAGE  -->
          <div class="col-lg-7 col-md-12 rw-bloc-land_left">
            <img src="../../assets/backgrounds/Concept2.png" width="100%" alt="illustration">
          </div>

          <!-- BLOC DE CODE DE DROITE CONTENANT LES TEXTES  -->
          <div class="col-lg-5 col-md-12 rw-bloc-land_right">
              <h6>
                LA BONNE INFO POUR LE CITOYEN
              </h6>
              <p class="p2">
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.
              </p>
          </div>

        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="row rw-bloc-land">

          <!-- BLOC DE CODE DE GAUCHE CONTENANT L'IMAGE  -->
          <div class="col-lg-7 col-md-12 rw-bloc-land_left">
            <img src="../../assets/backgrounds/Concept3.png" width="100%" alt="illustration">
          </div>

          <!-- BLOC DE CODE DE DROITE CONTENANT LES TEXTES  -->
          <div class="col-lg-5 col-md-12 rw-bloc-land_right">
              <h6>
                PROMOTION DU DEVELOPPEMENT
              </h6>
              <p class="p2">
                  Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise
                  en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                  quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de
                  polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté
                  à la bureautique informatique, sans que son contenu n'en soit modifié.
              </p>
              <p>
                <button type="button" class="btn btn-general btn-profil">
                  <a href="accueil">Accéder au profil</a>
                </button>
              </p>
          </div>

        </div>
      </ng-template>
    </swiper>
</div>
